.card {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
}
.col-md-4 {
  float: left;
  width: 100%;
  padding: 10 10px;
  padding-top: 5%;
}
.row {margin: 0 -5px;}
@media screen and (max-width: 600px) {
  .col-md-4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
  }
}
h1 {
 padding:5%;
 font-size:40px;
}


/* .grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container
  grid-gap: 10px;
  background-color:white;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/