.navbar {
    float: left;
    width: 20%;
    height: 840px; /* only for demonstration, should be removed */
    background: #51c4d3;
    padding: 15px;
    text-align: left;
    position: sticky;
    font-size: 20px;
    text-decoration: none;
    
  }
  
  /* Style the list inside the menu */
.navbar h2 {
    color: #fff;
    top: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
.navbar ul li{
    list-style-type: none;
    padding: 30px 10px;
    border-bottom: 3px solid #bdb8d7;
    border-bottom: 3px solid rgba(0,0,0,0.05);
    border-top: 3px solid rgba(255,255,255,0.05);
    color: beige;
    
  }
.navbar ul li a {
    color: #000000;
    display: block;
   
  }
  
.ul li:hover{
    background-color: #948c8a0e;
  }
  
.ul li:hover a{
    color: red;
  }