.header{
  background-color: #126e82;
  padding: 100px ;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  
  height:50px;
  width:100%;
  text-transform: uppercase;
}

/*.img1
{
  padding-left: 10px;
  margin-left: 10%;
   float:right;
}*/